


<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--3-col"></div>
	<div class="mdl-cell mdl-cell--6-col">
		<center>
			<form action="#" name="loginForm">

				<div
					class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="text" id="username"
						ng-model="user.username"> <label
						class="mdl-textfield__label" for="username">Username</label>
				</div>
				<br>
				<div
					class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					<input class="mdl-textfield__input" type="password" id="password"
						ng-model="user.password"> <label
						class="mdl-textfield__label" for="password">Password</label>
				</div>
				<br>
				<button
					class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
					Login</button>
				<br> Not a user? <br>
				<button
					class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
					Register Now</button>
			</form>
		</center>
	</div>
	<div class="mdl-cell mdl-cell--3-col"></div>
</div>